#rust
/target
**/*.rs.bk

#web
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-debug.log*
yarn-error.log*
.yarnrc

/node_modules
/dist
.eslintcache
*.tsbuildinfo
.husky/_
/public/service-worker.js
*assets-manifest.json

# editor
/.idea

# local
notes.txt
.env
