#rust
/target
**/*.rs.bk
bin/
pkg/
wasm-pack.log

#web
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# editor
/.idea

# packages
/node_modules

/dist

# env files
*.env*

# eslint
.eslintcache

# typescript
*.tsbuildinfo

# husky
.husky/_

# debug
yarn-debug.log*
yarn-error.log*

# notes
notes.txt
